@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerBold.woff") format("woff"),
    url("fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerMedium.woff") format("woff"),
    url("fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerRegular.woff") format("woff"),
    url("/fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller-Italic";
  src: url("/fonts/MullerRegularItalic.woff") format("woff"),
    url("/fonts/MullerRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("fonts/MullerLight.woff") format("woff"),
    url("fonts/MullerLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #121723;
  --gray: #e6e8ec;
  --gray-dark: #a1a6b4;
  --violet: #6d31ee;
  --violet-light: #aa9dfa;
  --violet-dark: #4f28a5;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  color: var(--black);
  overflow: overlay;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.wrapper {
  padding: 0 405px;
  justify-content: space-between;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.d-flex-c {
  flex-direction: column;
}

.d-inline-b {
  display: inline-block;
}

/* --- HEADER --- */

.header {
  padding-top: 32px;
}

.header__top {
  display: none;
  align-items: center;
  padding-left: 100px;
  margin-bottom: 20px;
  height: 60px;
  background-color: var(--gray);
}

.burger {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 15;
  top: 59px;
  width: 100%;
  height: 100vh;
  padding: 106px 114px 0 103px;
  background-color: #d2d5dd;
  transition-duration: 0.3s;
  overflow: hidden;
  box-sizing: border-box;
}

.burger.is-active {
  visibility: visible;
  opacity: 1;
  box-sizing: border-box;
}

.burger__left {
  margin-right: 34px;
}

.burger__left-left {
  margin-right: 48px;
}

.burger-item {
  display: block;
  margin-bottom: 64px;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.burger-svg {
  width: 113px;
  height: 364px;
}

.burger__right {
  position: relative;
}

.burger__bottom {
  display: none;
  background-color: white;
  margin-left: -32px;
  margin-right: -38px;
  padding: 30px 73px 100% 32px;
}

.burger__bottom-list {
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 116px;
}

.burger-svg:first-child {
  position: absolute;
  margin-right: 30px;
  top: -20px;
}

.burger-svg:last-child {
  position: absolute;
  top: -156px;
  left: 143px;
}

.header__burger {
  display: none;
  z-index: 16;
  position: relative;
}

.header__burger-line.burger-active {
  width: 0;
  border: none;
}

.header__burger-line {
  width: 22px;
  border: 1px solid var(--violet);
  height: 1px;
  background-color: var(--violet);
  border-radius: 4px;
}

.header__burger-line::before {
  content: "";
  position: absolute;
  width: 22px;
  border: 1px solid var(--violet);
  height: 1px;
  background-color: var(--violet);
  border-radius: 4px;
  top: 8px;
  left: 0;
}

.header__burger-line::after {
  content: "";
  position: absolute;
  width: 22px;
  border: 1px solid var(--violet);
  height: 1px;
  background-color: var(--violet);
  border-radius: 4px;
  bottom: 8px;
  left: 0;
}

.header__burger-line.burger-active::before {
  transform: rotate(45deg);
  transition: 0.3s;
  top: 0;
}

.header__burger-line.burger-active::after {
  transform: rotate(-45deg);
  transition: 0.3s;
  top: 0;
}

.header__top-logo {
  width: 112px;
}

.header__middle {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header__middle-logo {
  margin-right: 70px;
}

.header__middle-nav {
  align-items: center;
  margin-right: 71px;
}

.header__middle-nav-item {
  margin-right: 38px;
}

.header__middle-nav-item:last-child {
  margin-right: 0;
}

.header__middle-nav-item-link {
  display: inline-block;
  padding: 4px 10px;
  min-width: 55px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
  transition-duration: 0.3s;
}

.header__middle-nav-item-link:hover,
.header__bottom-nav-link:hover {
  color: var(--violet);
}

.header__middle-nav-item-link:focus,
.header__bottom-nav-link:focus {
  color: white;
  background-color: var(--violet-light);
  outline: none;
}

.header__middle-nav-item-link:active,
.header__bottom-nav-link:active {
  background-color: transparent;
  color: var(--violet-dark);
}

.header__middle-login-search {
  visibility: hidden;
  opacity: 0;
  padding: 15px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
  width: 308px;
  height: 24px;
  background-color: var(--white);
  transition: transform 0.3s ease-in-out;
  transform: none;
  cursor: pointer;
  right: 120px;
  background-color: white;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.header__middle-login-search.search-active {
  visibility: visible;
  opacity: 1;
}

.login-search-btn {
  margin-top: 6px;
  margin-right: 24px;
  z-index: 14;
}

.login-search-svg path {
  transition-property: stroke;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.login-search-svg:hover path {
  stroke: var(--violet-light);
}

.login-search-svg:focus path {
  stroke: var(--violet-dark);
}

.login-search-svg:active path {
  stroke: var(--violet);
}

.login-search-input {
  width: 278px;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--violet);
}

.header__middle-login {
  position: relative;
  align-items: center;
}

.header__middle-login-btn {
  align-items: center;
  padding: 10px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 77px;
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.header__middle-login-btn:hover {
  color: white;
  background-color: var(--black);
}

.header__middle-login-btn:focus {
  color: var(--black);
  background-color: var(--violet-light);
}

.header__middle-login-btn:active {
  color: white;
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 16;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  background-color: rgba(121, 121, 121, 0.9);
  box-sizing: border-box;
}

.modal-content {
  width: 704px;
  height: 539px;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black);
  padding: 60px;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-close {
  position: relative;
  margin-right: -32px;
  margin-top: -28px;
  width: 40px;
  height: 40px;
  border: 3px solid var(--gray-dark);
  border-radius: 26px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.modal-close:hover {
  border-color: var(--violet);
}

.modal-close:focus {
  border-color: var(--violet-light);
}

.modal-close:active {
  border-color: var(--violet-dark);
}

.modal-close::before {
  content: "";
  width: 18px;
  border: 2px solid var(--gray-dark);
  background-color: var(--gray-dark);
  transform: rotate(45deg);
  position: absolute;
  top: 18px;
  left: 9px;
  transition-duration: 0.3s;
}

.modal-close:hover::before {
  border-color: var(--violet);
  background-color: var(--violet);
}

.modal-close:focus::before {
  border-color: var(--violet-light);
  background-color: var(--violet-light);
}

.modal-close:active::before {
  border-color: var(--violet-dark);
  background-color: var(--violet-dark);
}

.modal-close::after {
  content: "";
  width: 18px;
  border: 2px solid var(--gray-dark);
  background-color: var(--gray-dark);
  transform: rotate(135deg);
  position: absolute;
  top: 18px;
  right: 9px;
  transition-duration: 0.3s;
}

.modal-close:hover::after {
  border-color: var(--violet);
  background-color: var(--violet);
}

.modal-close:focus::after {
  border-color: var(--violet-light);
  background-color: var(--violet-light);
}

.modal-close:active::after {
  border-color: var(--violet-dark);
  background-color: var(--violet-dark);
}

.modal__title {
  justify-content: space-between;
  margin-bottom: 19px;
  margin-top: -3px;
}

.modal-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: var(--white);
}

.modal__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.modal__subtitle-link {
  color: var(--violet);
}

.modal-form {
  flex-direction: column;
}

.modal-input {
  width: 482px;
  height: 48px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 32px;
  font-size: 20px;
  line-height: 20px;
  color: var(--gray-dark);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 40px;
  outline: none;
  transition-duration: 0.3s;
}

.modal-input:hover {
  background-color: #292e39;
}

.modal-input:focus {
  background-color: #292e39;
  border-color: var(--violet-light);
}

.modal-input:active {
  background-color: transparent;
  border-color: var(--white);
}

.modal-social-links {
  margin-left: 3px;
}

.modal-box {
  position: relative;
}

.is-label-invalid {
  position: absolute;
  top: 9px;
  left: 35px;
  font-size: 12px;
  line-height: 12px;
}

.is-invalid {
  border-color: #d52b1e !important;
}

.modal-btn {
  width: fit-content;
  padding: 23px 52px;
  color: var(--white);
  background-color: var(--violet);
  font-size: 20px;
  line-height: 20px;
  border-radius: 40px;
  transition-duration: 0.3s;
  border: 2px solid transparent;
}

.modal-btn:hover {
  background-color: var(--violet-light);
  border-color: var(--violet-light);
}

.modal-btn:focus {
  background-color: var(--violet-light);
  border-color: var(--violet-dark);
}

.modal-btn:active {
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.modal-form {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(230, 232, 236, 0.4);
}

.modal-social-title {
  margin-bottom: 33px;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.modal-social-svg {
  width: 33px;
  height: 33px;
  margin-right: 47px;
  fill: var(--gray-dark);
  transition-duration: 0.3s;
}

.modal-social-svg:hover {
  fill: var(--violet);
}

.modal-social-svg:focus {
  fill: var(--violet-light);
}

.modal-social-svg:active {
  fill: var(--violet-dark);
}

.header__bottom {
  align-items: center;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.header__bottom-accordion {
  display: none;
  align-items: center;
  justify-content: center;
}

.header__bottom-playing-head {
  margin-top: 9px;
}

.head-acc-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--violet);
  padding: 14.5px 0;
}

.head-acc-item-icon {
  position: relative;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background-color: var(--violet);
  border-radius: 20px;
  transition-duration: 0.3s;
}

.head-acc-item.active>.head-acc-item-icon {
  rotate: 45deg;
}

.head-acc-item-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 9px;
  height: 1px;
  margin: 7px auto;
  background-color: var(--white);
}

.head-acc-item-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 7px;
  width: 1px;
  height: 9px;
  box-shadow: none;
  background-color: var(--white);
}

.header__bottom-nav {
  padding: 20px 0;
  margin-left: -5.5px;
  margin-right: 2px;
  align-items: center;
}

.header__bottom-nav-item {
  margin-right: 42px;
}

.header__bottom-nav-link {
  padding: 3px 5.5px;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition-duration: 0.3s;
}

.header__bottom-playing-later {
  min-width: 176px;
  align-items: center;
}

.header__bottom-playing-now {
  min-width: 173px;
  align-items: center;
}

.playing-container-later {
  align-items: center;
  padding: 5px 14px;
  border-left: 1px solid var(--gray);
}

.playing-container-now {
  align-items: center;
  padding: 0 41px 0 12px;
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

.playing-svg {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: var(--gray-dark);
}

.playing-svg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  margin-left: 3px;
  height: 0px;
  border-top: 5px solid transparent;
  border-left: 6px solid var(--white);
  border-bottom: 5px solid transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.playing-svg:hover {
  background-color: var(--violet);
}

.playing-svg:focus {
  background-color: var(--violet-light);
}

.playing-svg:active {
  background-color: var(--violet-dark);
}

.pausing {
  margin-left: 0;
  width: 2px;
  height: 10px;
  border-right: 2px solid var(--white);
  border-left: 2px solid var(--white);
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.playing-block {
  flex-direction: column;
}

.playing-block-name {
  color: var(--black);
}

.playing-block-desc {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--gray-dark);
}

.header__bottom-age {
  width: 46px;
  margin-left: auto;
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
}

.header__bottom-age-item {
  border-radius: 100px;
  padding: 7px 4.5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-dark);
  background-color: white;
}

/*--HERO --*/
.wrapper-v {
  padding: 94px 0;
}

.hero__block {
  background-image: url(/img/microphone.png);
  background-repeat: no-repeat;
  background-position: right;
}

.hero__block-title {
  margin: 0;
  margin-bottom: 14px;
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  font-family: "Muller-Italic";
}

.bold-title {
  font-weight: 700;
  font-style: normal;
  font-family: "Muller";
}

.hero__block-desc {
  margin-bottom: 47px;
  max-width: 635px;
  font-size: 16px;
  line-height: 24px;
}

.hero__block-btn {
  padding: 25px 54px;
  border-radius: 40px;
  color: white;
  background-color: var(--violet);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  outline: 1px solid transparent;
  transition-property: background-color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.hero__block-btn:hover {
  background-color: var(--violet-light);
}

.hero__block-btn:focus {
  outline-color: var(--black);
}

.hero__block-btn:active {
  background-color: var(--violet-dark);
  outline-color: var(--violet-dark);
}

/*-- PODCAST --*/
.podcast {
  background-color: var(--gray);
}

.pocast__title {
  margin-bottom: 30px;
}

.subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: var(--black);
}

.podcast__block {
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.podcast__block-item {
  position: relative;
  margin-bottom: 30px;
  margin-right: auto;
  width: 540px;
  background-color: white;
}

.block-item-date {
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-width: 39px;
  display: flex;
  justify-content: center;
  padding: 3px 6px;
  font-size: 10px;
  line-height: 10px;
  background-color: var(--gray);
}

.block-item-desc {
  width: 100%;
}

.podcast__block-item:nth-child(2n) {
  margin-right: 0;
}

.desc-top {
  justify-content: space-between;
  align-items: center;
  padding: 24px 33px 24px 30px;
  border-bottom: 1px solid var(--gray);
}

.desc-bottom {
  padding: 5px 28px;
}

.text-time {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  color: var(--black);
}

.text-name {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.text-author {
  font-size: 16px;
  line-height: 16px;
  color: var(--gray-dark);
}

.desc-bottom-icons {
  margin-right: 26px;
  padding: 2px;
  font-size: 16px;
  line-height: 16px;
  color: var(--gray-dark);
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.desc-bottom-icons path {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.desc-bottom-icons:hover {
  color: var(--violet);
}

.desc-bottom-icons:hover path {
  fill: var(--violet);
}

.desc-bottom-icons:active {
  color: #fff;
  background-color: var(--violet-light);
}

.desc-bottom-icons:active path {
  fill: #fff;
}

.desc-bottom-icons:focus {
  color: var(--violet-dark);
  background-color: transparent;
}

.desc-bottom-icons:active path {
  fill: var(--violet-dark);
}

.desc-bottom-svg {
  margin-right: 3px;
}

.desc-top-btn-border {
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border: 2px solid var(--gray-dark);
  border-radius: 22px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: border-color;
}

.desc-top-btn-border:hover {
  border-color: var(--violet);
}

.desc-top-btn-border:hover .desc-top-btn {
  border-left-color: var(--violet);
  border-right-color: var(--violet);
}

.desc-top-btn-border:focus {
  border-color: var(--violet-light);
}

.desc-top-btn-border:focus .desc-top-btn {
  border-left-color: var(--violet-light);
  border-right-color: var(--violet-light);
}

.desc-top-btn-border:active {
  border-color: var(--violet-dark);
  background-color: var(--violet-dark);
}

.desc-top-btn-border:active .desc-top-btn {
  border-left-color: var(--white);
  border-right-color: var(--white);
}

.desc-top-btn {
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 8px solid transparent;
  border-left: 12px solid var(--gray-dark);
  border-bottom: 8px solid transparent;
  cursor: pointer;
}

.playing {
  width: 6px;
  height: 18px;
  border-right: 2px solid var(--gray-dark);
  border-left: 2px solid var(--gray-dark);
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 0.3s;
}

.podcast-btn {
  justify-content: center;
  margin: 0 auto;
  padding: 23px 54px;
  border: 2px solid var(--violet);
  border-radius: 40px;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  font-size: 20px;
  line-height: 20px;
  color: var(--violet);
}

.podcast-btn:hover {
  background-color: var(--violet);
  color: white;
}

.podcast-btn:active {
  background-color: var(--violet-light);
  color: white;
}

.podcast-btn:focus {
  background-color: var(--violet-dark);
  color: white;
}

/*--LOAD MORE--*/
.podcast__block-item:nth-last-child(-n + 2) {
  display: none;
}

.podcast__block-item.load-more-active {
  display: flex;
}

/*-- PROGRAM --*/
.program-wrapper {
  padding: 98px 0 87px 0;
}

.program__left {
  margin-right: 30px;
  margin-top: -4px;
  max-width: 255px;
  justify-content: space-between;
}

.program__left-top {
  margin-bottom: auto;
}

.program-title {
  margin-bottom: 12px;
}

.subtitle-s {
  color: var(--gray-dark);
  font-size: 16px;
  line-height: 16px;
}

/* select */

.select-item {
  outline: none;
  border-radius: 10px;
}

option:first-child {
  display: none;
}

.choices__inner {
  min-height: 40px;
  padding-bottom: 0;
  width: 255px;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  background-color: var(--gray);
  border: 1px solid transparent;
  border-radius: 10px;
  z-index: 10;
  position: relative;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.choices__inner:hover {
  background-color: #f5f6f7;
}

.choices__inner:focus {
  background-color: var(--gray);
  border-color: var(--violet);
}

.choices__inner:active {
  background-color: #d2d5dd;
  border-color: transparent;
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 0;
}

.choices__list--single {
  padding: 12px;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  z-index: 10;
  color: var(--black);
  background-color: var(--gray);
}

.choices.is-focused.is-open.is-flipped>.choices__list.choices__list--dropdown.is-active {
  padding-top: 0;
  margin-top: 0;
}

.choices__list.choices__list--dropdown {
  padding-top: 16px;
  margin-top: -21px;
}

.choices__list--dropdown .choices__item {
  position: relative;
  color: var(--gray-dark);
  font-size: 16px;
  border-bottom: 1px solid var(--gray);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: white;
}

.choices[data-type*="select-one"]:after {
  z-index: 10;
  border: none;
  background-image: url(/img/svg/arrow-up.svg);
  height: 9px;
  width: 13px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  top: 40%;
  right: 14px;
}

.choices[data-type*="select-one"].is-open:after {
  background-image: url(/img/svg/arrow-down.svg);
  margin: 0;
  top: 40%;
}

.is-selected {
  display: none;
}

.is-open .choices__inner {
  padding: 0;
  border-radius: 10px;
  border: 1px solid var(--gray);
}

.choices__list--dropdown {
  z-index: 1;
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--gray);
}

.program-author {
  margin-bottom: 8px;
}

.program-microfone {
  margin-bottom: 24px;
}

.program__left-bottom-btn {
  padding: 9px 55px;
  margin-right: auto;
  margin-bottom: 12px;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 77px;
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.program__left-bottom-btn:hover {
  color: white;
  background-color: var(--black);
}

.program__left-bottom-btn:focus {
  color: var(--black);
  background-color: var(--violet-light);
}

.program__left-bottom-btn:active {
  color: white;
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.program-left-bottom-desc {
  color: var(--gray-dark);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}

.program__right {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.program-line {
  display: none;
}

.program__right-card {
  padding: 6px;
  margin: -7px -7px 24px -7px;
  border: 1px solid transparent;
  transition-property: color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.program__right-card:focus {
  border-color: var(--violet);
}

.program__right-card:active {
  border-color: transparent;
}

.card-more-arrow path {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.program__right-card:hover .card-more-arrow path {
  fill: var(--violet);
}

.program__right-card:focus .card-more-arrow path {
  fill: white;
}

.program__right-card:active .card-more-arrow path {
  fill: var(--violet-dark);
}

.program__right-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-img {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.program__right-card:hover .card-img {
  opacity: 0.7;
}

.program__right-card:focus .card-img {
  opacity: 1;
}

.program__right-card:active .card-img {
  opacity: 0.7;
}

.card-info {
  padding: 20px 16px 15px 16px;
  border: 1px solid var(--gray);
  border-top: none;
}

.card-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.card-subtitle {
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 12px;
  color: var(--gray-dark);
}

.card-more {
  padding: 2px;
  max-width: fit-content;
}

.card-more-item {
  margin-left: -2px;
  color: var(--black);
  font-size: 16px;
  line-height: 16px;
  font-family: "Muller-Italic";
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.program__right-card:hover .card-more-item {
  color: var(--violet);
}

.program__right-card:focus .card-more-item {
  color: white;
}

.program__right-card:active .card-more-item {
  color: var(--violet-dark);
}

.program__right-card:focus .card-more {
  background-color: var(--violet-light);
}

.program__right-card:active .card-more {
  background-color: transparent;
}

.program-bottom-tablet {
  display: none;
}

/*--- guest ---*/

.guest {
  background-color: var(--black);
}

.guest__left {
  max-width: 730px;
  margin-right: 31px;
}

.guest__right {
  position: relative;
}

.guest-title {
  margin-bottom: 12px;
  color: white;
}

.guest-subtitle-bold {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray-dark);
}

.guest-subtitle {
  margin-bottom: 50px;
  max-width: 825px;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-dark);
}

.guest__right-item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  max-width: 350px;
  transition-duration: 0.3s;
}

.guest__right-item-active {
  opacity: 1;
  visibility: visible;
}

.guest-img {
  margin-bottom: 13px;
}

.guest-social {
  margin-bottom: 10px;
}

.guest-social-link {
  margin-right: 34px;
}

.guest-social-link:last-child {
  margin-right: 0;
}

.guest-social-item {
  width: 21px;
  height: 21px;
  fill: var(--gray-dark);
  transition-duration: 0.3s;
}

.guest-social-link:hover .guest-social-item {
  fill: var(--violet);
}

.guest-social-link:focus .guest-social-item {
  fill: var(--violet);
}

.guests-right-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.guests-right-sub {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 29px;
  color: var(--gray-dark);
}

.guest-air {
  width: fit-content;
  display: inline-block;
  padding: 9px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--violet-light);
  background-color: transparent;
  border: 2px solid var(--violet-light);
  border-radius: 30px;
  transition-property: color, border-color, background-color;
  transition-duration: 0.3s;
}

.guest-air:hover {
  color: var(--white);
  background-color: var(--violet-light);
}

.guest-air:focus {
  color: var(--white);
  background-color: var(--violet);
  border-color: var(--violet);
}

.guest-air:active {
  color: var(--white);
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.hide {
  display: none;
}

/*--- accordion ---*/

.accordion-item:first-child {
  border-top: 1px solid var(--gray-dark);
}

.accordion-item {
  padding: 34px 0;
  position: relative;
  width: 100%;
  margin-top: -1px;
  justify-content: space-between;
  flex-direction: column;
  border-top: 1px solid var(--gray-dark);
  border-bottom: 1px solid var(--gray-dark);
  border-right: none;
  border-left: none;
  background-color: transparent;
  cursor: pointer;
}

.accordion-item:focus {
  background-color: #292e39;
}

.accordion-item:active {
  background-color: transparent;
}

.accordion-open {
  overflow: hidden;
  max-height: 0;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.accordion-open-header {
  overflow: hidden;
  max-height: 0;
  position: relative;
  margin-bottom: -1px;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-top: 1px solid var(--gray);
}

.spoilers-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  transition-duration: 0.3s;
}

.active.accordion-item {
  border-top: 1px solid var(--violet-light);
  border-bottom: 1px solid var(--violet-light);
}

.accordion-item:hover .spoilers-item-title {
  color: var(--violet-light);
}

.accordion-item:active .spoilers-item-title {
  color: var(--violet-light);
}

.spoilers-item-icon {
  position: absolute;
  top: 22px;
  right: 1px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid var(--gray-dark);
  transition-property: transform, background-color, border-color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.accordion-item:hover .spoilers-item-icon {
  border-color: var(--violet-light);
}

.accordion-item:hover .spoilers-item-icon::after {
  background-color: var(--violet-light);
}

.accordion-item:hover .spoilers-item-icon::before {
  background-color: var(--violet-light);
}

.accordion-item:focus .spoilers-item-icon {
  border-color: var(--gray-dark);
  background-color: var(--violet-dark);
}

.accordion-item:focus .spoilers-item-icon::after {
  background-color: var(--gray-dark);
}

.accordion-item:focus .spoilers-item-icon::before {
  background-color: var(--gray-dark);
}

.accordion-item:active .spoilers-item-icon {
  border-color: var(--violet-light);
  background-color: var(--violet-light);
}

.accordion-item:active .spoilers-item-icon::after {
  background-color: var(--white);
}

.accordion-item:active .spoilers-item-icon::before {
  background-color: var(--white);
}

.spoilers-item-icon::before {
  content: "";
  position: absolute;
  top: 21px;
  right: 17px;
  width: 15px;
  height: 2px;
  background-color: var(--gray-dark);
  transform: rotate(45deg);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.spoilers-item-icon::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 15px;
  width: 2px;
  height: 15px;
  background-color: var(--gray-dark);
  transform: rotate(225deg);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.accordion-item.active>.spoilers-item-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: transparent;
}

.accordion-container {
  flex-wrap: wrap;
  padding-top: 29px;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--gray-dark);
}

.blogers-link {
  width: 160px;
  margin-right: 31px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  cursor: pointer;
  transition-duration: 0.3s;
}

.blogers-link-active {
  color: var(--violet-light);
}

.blogers-link:nth-child(4n) {
  width: 126px;
}

.blogers-link:hover {
  color: var(--violet-light);
}

.blogers-link:focus {
  color: var(--white);
}

.blogers-link:active {
  color: var(--violet-light);
}

/*--- playlist --- */

.playlist__left {
  padding-bottom: 20px;
  margin-bottom: 38px;
  margin-right: 30px;
}

.playlist-title {
  margin-bottom: 12px;
}

.playlist-author {
  margin-bottom: 14px;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-radio {
  display: block;
  position: relative;
  width: fit-content;
  padding-left: 42px;
  margin-bottom: 26px;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio:last-child {
  margin-bottom: 0;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 3px;
  height: 22px;
  width: 22px;
  border: 2px solid var(--gray-dark);
  border-radius: 50%;
  transition-duration: 0.3s;
}

.container-radio:hover input~.checkmark {
  border-color: var(--violet);
}

.container-radio:focus input~.checkmark {
  border-color: var(--violet);
  background-color: var(--gray-dark);
}

.container-radio input:checked~.checkmark {
  background-color: var(--violet);
  border-color: var(--violet);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked~.checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 0px 5px rgba(30, 13, 68, 0.8);
}

.playlist-radio {
  width: 350px;
  padding-bottom: 27px;
  margin-bottom: 38px;
  border-bottom: 1px solid #d2d5dd;
}

.playlist-policy {
  max-width: 350px;
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-dark);
}

.playlist-tablet-policy {
  display: none;
}

.playlist-policy-italic {
  margin-bottom: 6px;
  font-weight: 300;
  font-family: "Muller-Italic";
  font-size: 16px;
  line-height: 22px;
}

.playlist-policy-raiting {
  width: fit-content;
  border: 1px solid var(--gray-dark);
  border-radius: 100px;
  padding: 6px 4.5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray-dark);
  background-color: white;
}

.band-card-top {
  width: 160px;
  height: 160px;
  position: relative;
  transition-duration: 0.3s;
}

.playlist__right {
  max-width: 730px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.playlist__right-card {
  flex-direction: column;
  margin-right: auto;
  margin-bottom: 30px;
  cursor: pointer;
}

.playlist__right-card:nth-child(4n) {
  margin-right: 0;
}

.playlist__right-card:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.band-card-img {
  z-index: -1;
}

.band-card-top::before {
  content: "";
  width: 160px;
  opacity: 0;
  transition-duration: 0.3s;
}

.playlist__right-card:hover .band-card-top::before {
  opacity: 1;
}

.playlist__right-card:hover .band-card-top {
  background-color: rgba(18, 23, 35, 0.8);
}

.playlist__right-card:hover .band-card-play {
  opacity: 1;
}

.playlist__right-card:hover .playlist__right-card-subtitle {
  background-color: var(--violet);
  border-color: var(--violet);
}

.playlist__right-card:hover .playlist__right-card-subtitle .band-card-title {
  color: var(--white);
}

.playlist__right-card:hover .playlist__right-card-subtitle .band-card-sub {
  color: var(--white);
}

.playlist__right-card:focus .band-card-top::before {
  opacity: 1;
}

.playlist__right-card:focus .band-card-top {
  background-color: rgba(18, 23, 35, 0.8);
}

.playlist__right-card:focus .band-card-play {
  opacity: 1;
}

.playlist__right-card:focus .playlist__right-card-subtitle {
  background-color: var(--violet-light);
  border-color: var(--violet-light);
}

.playlist__right-card:focus .playlist__right-card-subtitle .band-card-title {
  color: var(--black);
}

.playlist__right-card:focus .playlist__right-card-subtitle .band-card-sub {
  color: var(--black);
}

.playlist__right-card:active .band-card-top::before {
  opacity: 1;
}

.playlist__right-card:active .band-card-top {
  background-color: rgba(18, 23, 35, 0.8);
}

.playlist__right-card:active .band-card-play {
  opacity: 1;
  width: 49px;
  height: 49px;
  right: 60px;
  top: 47px;
}

.playlist__right-card:active .band-card-play::after {
  border-top: 10px solid transparent;
  border-left: 14px solid var(--white);
  border-bottom: 10px solid transparent;
}

.playlist__right-card:active .playlist__right-card-subtitle {
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.playlist__right-card:active .playlist__right-card-subtitle .band-card-title {
  color: var(--white);
}

.playlist__right-card:active .playlist__right-card-subtitle .band-card-sub {
  color: var(--white);
}

.band-card-play {
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 64px;
  top: 50px;
  width: 42px;
  height: 42px;
  background-color: var(--violet);
  border-radius: 24px;
  transition-duration: 0.3s;
}

.band-card-play::after {
  content: "";
  opacity: 1;
  width: 0;
  height: 0;
  margin-left: 4px;
  border-top: 8px solid transparent;
  border-left: 12px solid var(--white);
  border-bottom: 8px solid transparent;
  transition-duration: 0.3s;
}

.band-card-flag {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  background-color: var(--black);
}

.playlist__right-card-subtitle {
  border: 1px solid var(--gray);
  padding: 15px;
  transition-duration: 0.3s;
}

.band-card-title {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  transition-duration: 0.3s;
}

.band-card-sub {
  font-size: 12px;
  line-height: 12px;
  color: var(--gray-dark);
  transition-duration: 0.3s;
}

/*** SPEAKER ***/

.speaker {
  background-color: #292e39;
}

.speaker-wrapper {
  padding: 95px 0 133px;
}

.speaker__left {
  position: relative;
  margin-right: 26px;
  top: 10px;
  left: -4px;
}

.speaker__left-img-new {
  position: absolute;
  top: -8px;
}

.speaker__right-title {
  margin-bottom: 14px;
  font-size: 48px;
  line-height: 48px;
  color: #f0d288;
}

.short-wavy-line {
  width: 445px;
  height: 20px;
  margin-bottom: 10px;
}

.speaker__right-desc {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 29px;
  color: var(--white);
}

.speaker__right-desc:nth-child(2n) {
  margin-bottom: 29px;
}

.speaker__right-price {
  margin-bottom: 31px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--white);
}

.ym-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.speaker__right-button {
  width: fit-content;
  align-items: center;
  padding: 23px 11px 23px 39px;
  border: 2px solid #f0d288;
  border-radius: 100px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #f0d288;
  transition-duration: 0.3s;
  background: url(/img/ym-r.png) no-repeat 4% 50%;
}

.speaker__right-button:hover {
  background-color: #f0d288;
  background-image: url(/img/ym-b.png);
  color: var(--black);
}

.speaker__right-button:focus {
  background-color: #bb973e;
  background-image: url(/img/ym-r.png);
  color: var(--black);
}

.speaker__right-button:active {
  background-color: #bb973e;
  background-image: url(/img/ym-y.png);
  border-color: #bb973e;
  color: var(--black);
}

/*** ABOUT ***/

.about {
  background-color: var(--black);
  color: var(--white);
}

.about-top {
  padding-top: 91px;
  margin-bottom: 30px;
}

.about__left-top {
  max-width: 634px;
  margin-right: 31px;
}

.about__left-top-title {
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 48px;
}

.about__left-top-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray-dark);
}

.about__left-top-desc {
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-dark);
}

.about-svg-spiral {
  margin-right: 30px;
  width: 160px;
}

.about-svg-spiral-h {
  display: none;
}

.about-svg-dawn {
  margin-top: 20.5px;
  width: 255px;
  height: 255px;
}

.about__middle {
  position: relative;
}

/*** SWIPER ***/

.swiper {
  width: 100%;
  height: 361px;
}

.slider-img {
  margin-bottom: 30px;
}

.slider-title {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.slider-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-dark);
}

.swiper-button-prev {
  left: -75px;
  top: 138px;
}

.swiper-button-next {
  right: -75px;
  top: 128px;
}

.slider-prev-svg {
  width: 42px;
  height: 42px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
}

/*** FORM ***/

.form {
  padding-top: 30px;
  padding-bottom: 93px;
  background-color: var(--black);
}

.input-box {
  position: relative;
}

.input-box:first-child {
  margin-right: 30px;
}

.form-textarea {
  width: 853px;
  height: 88px;
  padding: 30px 33px;
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 20px;
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--gray-dark);
  border-radius: 32px;
  resize: none;
  outline: none;
  transition-duration: 0.3s;
}

.form-textarea:hover {
  background-color: #292e39;
}

.form-textarea:focus {
  background-color: #292e39;
  border-color: var(--violet-light);
}

.form-textarea:active {
  background-color: var(--black);
  border-color: var(--white);
}

.form-input {
  padding: 23px 32px;
  width: 380px;
  font-size: 20px;
  line-height: 20px;
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--gray-dark);
  border-radius: 40px;
  outline: none;
}

.form-input:hover {
  background-color: #292e39;
}

.form-input:focus {
  background-color: #292e39;
  border-color: var(--violet-light);
}

.form-input:active {
  background-color: var(--black);
  border-color: var(--white);
}

.form-bottom {
  margin-top: 30px;
}

.form-btn {
  padding: 25px 54px;
  margin-bottom: 27px;
  background-color: var(--violet);
  border: 1px solid var(--violet);
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  border-radius: 40px;
  transition-duration: 0.3s;
}

.form-btn:hover {
  background-color: var(--violet-light);
  border-color: var(--violet-light);
}

.form-btn:focus {
  background-color: var(--violet-light);
  border-color: var(--violet-dark);
}

.form-btn:active {
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.form-checkbox {
  opacity: 0;
  position: absolute;
  bottom: 3px;
  left: 0px;
}

.form-label {
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--white);
}

.form-checkbox+.form-customcheck {

  position: absolute;
  top: -4px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--gray);
}

.form-checkbox+.form-customcheck::before {
  content: url(/img/check.png);
  opacity: 0;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 0;
  left: 2px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form-checkbox:checked+.form-customcheck::before {
  opacity: 1;
}

/*** FOOTER ***/

.footer {
  padding-top: 91px;
  background-color: #292e39;
}

.footer-logo {
  margin-bottom: 18px;
  width: 160px;
  height: 20px;
}

.footer-social {
  margin-left: 4px;
}

.footer-social-link {
  display: inline-block;
  margin-right: 20px;
}

.footer-social-svg {
  width: 20px;
  height: 20px;
  fill: #d2d5dd;
  transition-duration: 0.3s;
}

.footer-social-link:hover .footer-social-svg {
  fill: var(--violet);
}

.footer-social-link:focus .footer-social-svg {
  fill: var(--violet-light);
}

.footer-social-link:active .footer-social-svg {
  fill: var(--violet-dark);
}

.footer-container {
  width: 100%;
  justify-content: space-between;
}

.footer__right {
  margin-bottom: 75px;
}

.footer-link-column {
  display: flex;
  flex-direction: column;
  margin-right: 109px;
}

.footer-link-column:nth-child(3) {
  margin-right: 0;
}

.footer-link {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  transition-duration: 0.3s;
}

.footer-links-mobile {
  display: none;
}

.footer-svg {
  width: 100%;
  height: 10px;
  margin-bottom: 5px;
}

.footer-rights {
  justify-content: center;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 17px;
  color: var(--gray-dark);
}

@media (max-width: 1900px) {
  .wrapper {
    padding: 0px 205px;
  }

  .header__middle-nav {
    align-items: center;
    margin-right: auto;
  }

  .swiper {
    width: 1188px;
  }

  .swiper-button-next {
    right: -25px;
  }

  .speaker__left-img-new {
    top: 20px;
  }
}

@media (max-width: 1500px) {
  .wrapper {
    padding: 0px 100px;
  }

  .modal-close {
    margin-right: -31px;
    margin-top: -30px;
    width: 38px;
    height: 38px;
  }

  .modal-close::before {
    width: 21px;
    top: 17px;
    left: 7px;
  }

  .modal-close::after {
    width: 21px;
    top: 17px;
    right: 7px;
  }

  .modal__title {
    margin-top: -1px;
  }

  .modal-form {
    padding-bottom: 28px;
  }

  .header__middle-nav-item {
    margin-right: 38px;
  }

  .swiper {
    width: 824px;
  }

  .swiper-button-next {
    right: -64px;
    top: 130px;
  }

  .swiper-button-prev {
    left: -65px;
    top: 131px;
  }

  .header__middle-logo {
    display: none;
  }

  .header__middle-nav {
    margin-left: -11px;
    margin-right: 23px;
  }

  .login-search-btn {
    margin-right: 24px;
  }

  .header__bottom-nav {
    margin-right: 30px;
  }

  .playing-container-later {
    padding: 5px 12px;
  }

  .playing-container-now {
    padding: 0 18px 0 12px;
  }

  .playing-block-desc {
    margin-bottom: 14px;
  }

  .playing-block-name {
    color: var(--black);
    margin-top: -9px;
  }

  .header__top {
    display: flex;
  }

  .modal-content {
    width: 704px;
  }

  .header {
    padding-top: 0;
  }

  .header__bottom-nav-item {
    margin-right: 17px;
  }

  .header__bottom-nav-item:last-child {
    margin-right: 0;
  }

  .hero__block-desc {
    margin-bottom: 22px;
    max-width: 535px;
  }

  .hero__block {
    padding: 88px 0 90px;
    background-size: 256px 265px;
    background-position: 100% 49%;
  }

  .hero__block-title {
    margin-bottom: 16px;
  }

  .header__bottom-age {
    display: none;
  }

  .header__bottom-playing-later {
    min-width: 150px;
  }

  .podcast__block-item {
    width: auto;
    min-width: 396px;
    max-width: 540px;
  }

  .podcast__block {
    width: 822px;
  }

  .podcast__title {
    margin-bottom: 30px;
  }

  .desc-bottom-icons {
    margin-right: 25px;
  }

  .desc-bottom {
    padding: 5px 28px;
  }

  .slider-img {
    margin-bottom: 32px;
  }

  .program__left {
    margin-right: 30px;
    justify-content: initial;
  }

  .desc-bottom-icons:last-child {
    margin-right: 0;
  }

  .program__left-top {
    margin-bottom: 227px;
  }

  .program-microfone {
    margin-bottom: 24px;
  }

  .choices[data-type*="select-one"]:after {
    top: 16px;
    right: 15px;
  }

  .card-info {
    padding: 20px 16px 15px 14px;
  }

  .program__left-bottom-btn {
    padding: 9px 54px;
  }

  .program__right-card {
    padding: 5px;
    margin: -7px -5px 26px -7px;
  }

  .podcast-btn {
    padding: 24px 54px;
  }

  .podcast-wrapper {
    padding-bottom: 92px;
  }

  .choices__list--single {
    padding: 10px;
  }

  .choices__inner {
    min-height: 37px;
    width: 252px;
  }

  .guest-title {
    margin-bottom: 15px;
  }

  .guest-subtitle {
    max-width: 536px;
    margin-bottom: 50px;
  }

  .spoilers-item-icon {
    top: 23px;
    right: 3px;
    width: 38px;
    height: 38px;
  }

  .spoilers-item-icon::after {
    top: 14px;
    right: 14px;
    width: 2px;
    height: 13px;
  }

  .spoilers-item-icon::before {
    top: 20px;
    right: 17px;
    width: 13px;
    height: 2px;
  }

  .guest-subtitle-bold {
    margin-bottom: 8px;
  }

  .guest__left {
    max-width: 539px;
    margin-right: 29px;
  }

  .guest-social {
    margin-bottom: 8px;
  }

  .guests-right-sub {
    margin-bottom: 31px;
  }

  .guest-air {
    padding: 9px 18px;
  }

  .blogers-link {
    margin-right: 29px;
  }

  .blogers-link:nth-child(3n) {
    margin-right: 0;
  }

  .blogers-link:nth-child(4n) {
    width: 160px;
  }

  .guest__right-item {
    max-width: 255px;
  }

  .guest-img {
    width: 255px;
  }

  .playlist__container {
    flex-direction: column;
  }

  .radio-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 158px;
  }

  .checkmark {
    top: -3px;
    left: 1px;
  }

  .container-radio:nth-child(-n + 4) {
    margin-right: 34px;
  }

  .container-radio:nth-child(4) {
    margin-bottom: 0;
  }

  .about__left-top-subtitle {
    margin-bottom: 7px;

  }

  .playlist-radio {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .band-card-play {
    right: 35px;
    top: 35px;
  }

  .playlist-policy {
    display: none;
  }

  .playlist__left {
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .playlist__right {
    max-width: 822px;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 39px;
    border-bottom: 1px solid #d2d5dd;
  }

  .playlist__right-card {
    flex-direction: row;

    margin-right: auto;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .band-card-flag {
    left: 0;
  }

  .playlist__right-card-subtitle {
    width: 124px;
    padding: 37px 7px 33px 8px;
  }

  .playlist__right-card:nth-child(4n) {
    margin-right: auto;
  }

  .playlist__right-card:nth-child(3n) {
    margin-right: 0;
  }

  .band-card-top {
    width: 112px;
    height: 112px;
  }

  .playlist-tablet-policy {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray-dark);
  }

  .playlist-policy-italic {
    margin-bottom: 8px;
  }

  .playlist-policy-raiting {
    padding: 6px 3.5px;
  }

  .speaker__left-img-new {
    top: 141px;
  }

  .speaker__left {
    display: flex;
    align-items: center;
    margin-right: 29px;
    top: -21px;
    left: -1px;
  }

  .speaker__right {
    overflow: hidden;
  }

  .speaker__right-title {
    margin-bottom: 16px;
  }

  .short-wavy-line {
    width: 448px;
  }

  .speaker-wrapper {
    padding: 91px 0 93px;
  }

  .about-svg-spiral {
    display: none;
  }

  .about-svg-dawn {
    margin-top: 54.5px;
  }

  .about-top {
    margin-bottom: 28px;
    padding-top: 93px;
  }

  .form {
    padding-top: 14px;

  }

  .form-textarea {
    width: 758px;
    margin-bottom: 26px;
    padding: 30px 32px;
    border-radius: 29px;
  }

  .form-input {
    width: 331px;
    padding: 24px 32px;
  }

  .form-label {
    padding-left: 21px;
  }

  .form-bottom {
    margin-top: 29px;
  }

  .form-btn {
    padding: 25px 53px;
  }

  .form-checkbox+.form-customcheck {
    margin-top: 1px;
    top: -3px;
    left: -1px;
    width: 12px;
    height: 12px;
  }

  .footer {
    padding-top: 94px;
  }

  .footer-logo {
    margin-bottom: 17px;
    width: 159px;
  }

  .footer-social-link {
    margin-right: 21px;
  }

  .footer-social {
    margin-left: 1px;
  }

  .footer__right {
    margin-top: -2px;
    margin-bottom: 75px;
  }

  .footer-link-column {
    margin-right: 109px;
  }

  .footer-link-column:nth-child(3) {
    margin-right: 2px;
  }

  .footer-svg {
    display: none;
  }

  .footer-rights {
    padding-top: 20px;
    background-image: url(/img/footer-wave.svg);
    background-repeat: no-repeat;
    background-position: 44.7% 0;
  }
}

@media (max-width: 1020px) {
  .wrapper {
    padding: 0px 114px;
    justify-content: initial;
  }

  .header__top {
    padding-left: 114px;
  }

  .header__middle-nav {
    display: none;
  }

  .header__burger {
    display: flex;
  }

  .header__burger-line::before {
    top: 11px;
  }

  .header__burger-line::after {
    bottom: 11px;
  }

  .header__middle {
    justify-content: space-between;
  }

  .header__bottom-nav {
    margin-right: 19px;
    padding: 20px 0;
  }

  .header__bottom-playing-later {
    display: none;
  }

  .playing-block {
    display: none;
  }

  .playing-container-now {
    padding: 0;
    border-left: none;
    border-right: none;
  }

  .header__bottom-playing-now {
    min-width: inherit;
  }

  .header__bottom-nav-item {
    margin-right: 17.5px;
  }

  .header__bottom-nav-item:first-child {
    margin-right: 21px;
  }

  .header__bottom-nav-item:last-child {
    margin-right: 0;
  }

  .playing-svg {
    margin-right: 0;
  }

  .hero__block-desc {
    margin-bottom: 21px;
  }

  .modal-content {
    width: 459px;
    padding: 60px 40px;
  }

  .modal-input {
    width: 415px;
  }

  .hero__block {
    padding: 89px 0;
    background-image: none;
  }

  .podcast__block-item {
    width: 540px;
  }

  .podcast__block {
    width: auto;
    margin-bottom: 29px;
  }

  .desc-bottom {
    padding: 7px 28px 4px;
  }

  .guests-right-sub {
    margin-bottom: 30px;
  }

  .podcast__title {
    margin-bottom: 31px;
  }

  .desc-top {
    padding: 23px 33px 24px 30px;
  }

  .text-time {
    margin-bottom: 9px;
  }

  .text-name {
    margin-bottom: 3px;
  }

  .program__left-bottom {
    display: none;
  }

  .program__left-top {
    margin-bottom: 46px;
  }

  .program__right {
    margin-top: 2px;
  }

  .program__right-card {
    margin: -7px 6px 26px -5px;
  }

  .program__right-card:nth-child(2n) {
    margin: -7px -7px 22px -7px;
  }

  .program__right-card:nth-last-child(-n + 3) {
    margin-bottom: 22px;
  }

  .program__right {
    margin-bottom: 31px;
  }

  .wrapper-v {
    flex-direction: column;
  }

  .program-wrapper {
    padding: 99px 0 20px 0;
  }

  .choices__list--single {
    padding: 11px;
  }

  .program__left-bottom-btn {
    width: fit-content;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .program-microfone {
    margin-bottom: 9px;
    margin-right: 20px;
  }

  .program-left-bottom-desc {
    max-width: 255px;
  }

  .guest-title {
    margin-top: -3px;
    margin-bottom: 13px;
  }

  .program-bottom-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .program-line {
    width: calc(100% + 228px);
    margin-left: -114px;
    margin-bottom: 29px;
    display: inline-block;
    border-bottom: 1px solid var(--gray);
  }

  .guest {
    padding-bottom: 511px;
  }

  .spoilers-item-icon {
    top: 22px;
    right: 2px;
    width: 39px;
    height: 39px;
  }

  .blogers-link {
    margin-bottom: 30px;
  }

  .guest-wrapper {
    padding: 99px 0 94px;
  }

  .guest-container {
    flex-direction: column;
  }

  .accordion-container {
    padding-bottom: 1px;
  }

  .guest-subtitle {
    margin-bottom: 50px;
  }

  .guest-img {
    width: 540px;
    height: 220px;
  }

  .guest__left {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .guest__right-item {
    max-width: 398px;
  }

  .guests-right-title {
    margin-bottom: 10px;
  }

  .radio-container {
    height: 200px;
  }

  .guest-social {
    margin-left: 2px;
  }

  .guest-social-link {
    margin-right: 33px;
  }

  .container-radio {
    margin-bottom: 40px;
  }

  .playlist__left {
    margin-bottom: 54px;
  }

  .playlist__right {
    margin-top: 0;
  }

  .playlist__right {
    max-width: 540px;
    padding-bottom: 12px;
  }

  .playlist__right-card-subtitle {
    padding: 39px 8px 33px 9px;
  }

  .band-card-title {
    margin-bottom: 4px;
  }

  .playlist__right-card:nth-child(3n) {
    margin-right: auto;
  }

  .playlist__right-card:nth-child(4n) {
    margin-right: 0;
  }

  .playlist__right-card:nth-child(2n) {
    margin-right: 0;
  }

  .playlist__right-card:nth-last-child(-n + 4) {
    margin-bottom: 30px;
  }
  .playlist-tablet-policy {
    line-height: 21px;
}
  .playlist-policy-italic {
    margin-bottom: 8px;
    line-height: 22px;
  }
  .playlist-policy-raiting {
    padding: 6px 4.5px;
}
  .speaker-wrapper {
    padding: 73px 0 93px;
  }

  .speaker__right {
    background-image: url(/img/svg/speaker-wave.svg);
    background-repeat: no-repeat;
    background-position: 50% 21.4%;
  }

  .speaker__left-img-new {
    top: 1px;
  }
  .speaker__right-desc:nth-child(2n) {
    margin-bottom: 28px;
}
  .speaker__left {
    top: -20px;
    left: 0px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .speaker__right-title {
    margin-bottom: 50px;
    max-width: 441px;
  }

  .short-wavy-line {
    display: none;
  }

  .about__left-top {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about-top {
    padding-top: 94px;
    margin-bottom: 16px;
    flex-direction: column;
  }
  .about__left-top-title {
    margin-bottom: 12px;
}
  .about-svg-spiral-h {
    display: flex;
    width: 639px;
    height: 114px;
    margin-left: -114px;
    margin-right: 28px;
  }

  .about-svg-dawn {
    margin-top: -13px;
    width: 139px;
    height: 139px;
    margin-right: 2px;
  }

  .swiper {
    width: 540px;
  }

  .form {
    padding-top: 30px;
  }

  .form-textarea {
    width: 474px;
  }

  .form-input-container {
    flex-direction: column;
  }

  .input-box:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer-logo {
    margin-bottom: 23px;
  }

  .form-input {
    width: 474px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer-social {
    margin-left: -1px;
  }

  .footer-social-svg {
    width: 30px;
    height: 30px;
  }

  .footer-social-link {
    display: inline-block;
    margin-right: 23px;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 79px;
  }

  .footer__right {
    width: 100%;
    justify-content: space-between;
  }
  .footer-link-column:nth-child(3) {
    margin-right: 0px;
}
  .footer-social-link:last-child {
    margin-right: 0;
  }

  .footer-link {
    margin-bottom: 30px;
  }

  .footer-link:last-child {
    margin-bottom: 0;
  }

  .footer-rights {
    padding-top: 25px;
    background-position: 43% 8.2%;
    background-size: 284% 23.3%;
  }

  .modal-close {
    margin-right: -10px;
    margin-top: -30px;
    width: 36px;
    height: 36px;
  }

  .modal-close::before {
    width: 20px;
    top: 16px;
    left: 6px;
  }

  .modal-close::after {
    width: 20px;
    top: 16px;
    right: 6px;
  }

  .modal__subtitle {
    letter-spacing: -1px;
  }
}

@media (max-width: 750px) {
  .wrapper {
    padding: 0 32px;
  }

  .header__top-logo {
    width: 87px;
    margin-bottom: -7px;
  }

  .header__top {
    height: 57px;
    padding-left: 32px;
    margin-bottom: 13px;
  }

  .header__middle-login-btn {
    padding: 8px 23px;
    position: absolute;
    top: -54px;
    right: 0;
  }

  .header__bottom-accordion {
    display: flex;
    flex-direction: column;
  }

  .login-search-btn {
    margin-right: 0;
  }

  .header__burger-line::before {
    top: 10px;
  }

  .header__burger-line::after {
    bottom: 10px;
  }

  .modal-content {
    width: 216px;
    padding: 40px 20px;
  }

  .modal-input {
    width: 169px;
    height: 14px;
    margin-bottom: 20px;
    padding: 12px 12px 12px 18px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .modal-close {
    margin-right: -10px;
    margin-top: -30px;
    width: 22px;
    height: 22px;
  }

  .modal-close::before {
    width: 10px;
    top: 10px;
    left: 5px;
    border: 1px solid var(--gray-dark);
  }

  .modal-close::after {
    width: 10px;
    top: 10px;
    left: 5px;
    border: 1px solid var(--gray-dark);
  }

  .modal__subtitle {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 20px;
  }

  .modal-btn {
    padding: 12px 55px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal-form {
    margin-bottom: 10px;
  }

  .modal-social-title {
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 24px;
  }

  .modal-social-svg {
    margin-right: 0;
  }

  .modal-social-links {
    justify-content: space-between;
  }

  .header__bottom {
    display: flex;
    justify-content: center;
  }

  .head-acc-item {
    padding: 14px 0 13px;
  }

  .header__bottom-nav,
  .header__bottom-playing {
    display: none;
  }

  .playing-block,
  .header__bottom-playing-later {
    display: flex;
  }

  /* .playing-container-later {
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 37px 6px 32px;
    border-left: none;
    border-right: 1px solid var(--gray);
  } */
  .playing-container-later {
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 47px 6px 30px;
    border-left: none;
    border-right: 1px solid var(--gray);
  }

  /* .playing-container-now {
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 70px 6px 34px;
  } */
  .playing-container-now {
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 40px 6px 34px;
  }

  .header__bottom-playing-now {
    min-width: 150px;

  }

  .header__bottom-playing-later {
    min-width: 150px;
  }

  .playing-svg {
    margin-bottom: 5px;
  }

  .playing-block-desc {
    font-size: 10px;
    line-height: 10px;
  }

  .playing-block-name {
    font-size: 12px;
    line-height: 12px;
  }

  .burger {
    padding: 61px 38px 24px 32px;
    flex-direction: column;
  }

  .burger__right {
    display: none;
  }

  .header__middle {
    margin-top: -5px;
    margin-bottom: 8px;
  }

  .burger__left-right {
    padding-top: 30px;
  }

  .burger-item {
    margin-bottom: 40px;
  }

  .header__middle-login-search {
    width: 220px;
    right: 20px;
  }

  .burger__bottom {
    display: flex;
  }

  .header__bottom-nav-item {
    margin-right: 75px;
    margin-bottom: 30px;
  }

  .header__bottom-nav-item:nth-child(3n + 3) {
    margin-bottom: 0;
  }

  .wrapper-v {
    padding: 40px 0;
  }

  .hero__block {
    padding: 41px 0;
  }

  .hero__block-title {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 32px;
  }

  .hero__block-desc {
    width: 251.8px;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 21px;
  }



  .hero__block-btn {
    padding: 17px 45px;
    font-size: 16px;
    line-height: 16px;
  }

  .podcast__block-item:nth-last-child(-n + 6) {
    display: none;
  }

  .podcast__block-item.load-more-active {
    display: flex;
  }

  .podcast__block-item {
    margin-bottom: 32px;
    flex-direction: column;
    width: 256px;
    min-width: 256px;
  }

  .desc-bottom {
    padding: 4px 31px 5px;
  }

  .desc-bottom-svg {
    margin-right: 7px;
  }

  .subtitle {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 24px;
  }

  .podcast__title {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .block-item-date {
    top: -1px;
    bottom: auto;
  }

  .desc-top {
    padding: 15px 17px 17px 15px;
  }

  .text-name {
    font-size: 16px;
    line-height: 16px;
  }

  .text-author {
    font-size: 12px;
    line-height: 12px;
  }

  .desc-top-btn-border {
    height: 29px;
    width: 29px;
  }

  .desc-top-btn {
    border-top: 6px solid transparent;
    border-left: 9px solid var(--gray-dark);
    border-bottom: 6px solid transparent;
    margin-left: 3px;
  }

  .playing {
    width: 4px;
    height: 14px;
    border-right: 3px solid var(--gray-dark);
    border-left: 3px solid var(--gray-dark);
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    margin-left: 0px;
  }

  .desc-bottom-icons {
    display: flex;
    align-items: center;
    margin-right: 26px;
    font-size: 12px;
    line-height: 12px;
  }

  .podcast-wrapper {
    padding: 54px 0;
  }

  .podcast-btn {
    padding: 15px 28px;
    font-size: 16px;
    line-height: 16px;
  }

  .podcast__block {
    margin-bottom: -2px;
  }

  .choices__inner {
    width: 254px;
  }

  /* .card-info {
    max-width: 93px;
    min-height: 99px;
    padding: 10px 10px 12px 9px;
  } */
  .card-info {
    min-height: 78px;
    padding: 10px 8px 12px 8px;
  }

  .card-title {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 12px;
  }

  /* .card-subtitle {
    margin-bottom: auto;
    font-size: 9px;
    line-height: 9px;
  } */
  .card-subtitle {
    margin-bottom: auto;
    font-size: 9px;
    line-height: 9px;
  }

  .card-more {
    margin-left: -1px;
  }

  .card-more-item {
    margin-right: 6px;
    color: var(--violet);
    font-size: 12px;
    line-height: 12px;
  }

  .program__left-top {
    margin-bottom: 30px;
  }

  .card-more-arrow path {
    fill: var(--violet);
  }

  .card-more {
    display: inherit;
    padding: 0;
    font-family: "Muller-Italic";
  }

  .card-more-arrow {
    margin-top: 2px;
  }

  .program-wrapper {
    padding: 59px 0 20px 0;
  }

  .program-title {
    margin-bottom: 19px;
  }

  .choices__list--single {
    padding: 9px 12px;
  }

  .choices[data-type*="select-one"]:after {
    top: 16px;
    right: 14px;
  }

  .choices__inner {
    min-height: 36px;
  }

  .program__right-card {
    margin: 0;
    margin-bottom: 27px;
    margin-right: 28px;
    padding: 0;
    width: 112px;
  }

  .program__right-card:nth-child(2n) {
    margin: 0;
  }

  .program-bottom-tablet {
    display: flex;
  }

  .program-microfone-img {
    width: 77px;
  }

  .program-microfone {
    margin-right: 13px;
    margin-top: 5px;
  }

  .program-left-bottom-desc {
    max-width: 166px;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 21px;
  }

  .program__left-bottom-btn {
    padding: 7.5px 30px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }

  .program__right {
    margin-bottom: 7px;
    margin-top: 0px;
  }

  .program__left-bottom-block {
    margin-top: -4px;
    flex-direction: column-reverse;
  }

  .guest-wrapper {
    padding: 57px 0;
  }

  .guest-title {
    margin-bottom: 12px;
  }

  .guest-subtitle {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }

  .guest-subtitle-bold {
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 21px;
  }

  .program-line {
    margin-bottom: 23px;
  }

  .accordion-container {
    padding-top: 20px;
    padding-bottom: 0;

  }

  .accordion-item {
    padding: 17px 0 17.5px;
  }

  .guest-social {
    margin-bottom: 9px;
    margin-left: 3px;
  }

  .spoilers-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .spoilers-item-icon {
    top: 14px;
    width: 22px;
    height: 22px;
  }

  .spoilers-item-icon::before {
    top: 11px;
    right: 9px;
    width: 10px;
    height: 2px;
  }

  .spoilers-item-icon::after {
    top: 7px;
    right: 7px;
    width: 2px;
    height: 8px;
  }

  .blogers-link {
    width: 100px;
    margin-bottom: 28px;
    margin-right: 42px;
    font-size: 15px;
    line-height: 16px;
    color: var(--white);
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .blogers-link:nth-child(2n) {
    margin-right: 0;
  }

  .blogers-link:nth-child(4n) {
    width: 100px;
  }

  .blogers-link:nth-child(3n) {
    margin-right: 42px;
  }

  .blogers-link:nth-child(6n) {
    margin-right: 0;
  }

  .blogers-link:last-child {
    margin-bottom: 19px;
  }

  .guest {
    padding-bottom: 570px;
  }

  .guest-img {
    width: 256px;
    height: 159px;
  }

  .guest__right-item {
    max-width: 256px;
  }

  .guest-social-item {
    width: 30px;
    height: 33px;
  }

  .guest-social-link {
    margin-right: 27px;
  }

  .guest__left {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .guests-right-sub {
    margin-bottom: 31px;
  }

  .guest-air {
    padding: 7px 13px;
  }

  .playlist-wrapper {
    padding: 55px 0;
  }

  .playlist-title {
    margin-bottom: 18px;
  }

  .checkmark {
    display: none;
  }

  .radio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    margin-right: -32px;
    padding-right: 32px;
  }

  .container-radio {
    display: flex;
    color: var(--violet);
    height: 16px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 15px;
    padding: 10px 20px;
    width: max-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background-color: var(--white);
    border: 2px solid var(--violet);
    border-radius: 30px;
    white-space: nowrap;
  }

  .container-radio:nth-child(-n + 4) {
    display: flex;
    color: var(--violet);
    height: 17px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 15px;
    padding: 8px 20px;
    width: max-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background-color: var(--white);
    border-color: var(--violet);
    border-radius: 30px;
    white-space: nowrap;
  }

  .container-radio:first-child {
    padding: 8px 18px;
    color: var(--white);
    background-color: var(--violet);
  }

  .playlist-author {
    margin-bottom: 6px;
  }

  .subtitle-s {
    font-size: 12px;
    line-height: 12px;
  }

  .playlist__left {
    margin-bottom: 26px;
  }

  .band-card-sub {
    font-size: 9px;
    line-height: 9px;
  }

  .band-card-flag {
    left: inherit;
    right: 0;
  }

  .playlist-radio {
    overflow: auto;
    margin-right: -32px;
    padding-right: 32px;
  }

  .playlist__right-card {
    flex-direction: column;
  }

  .band-card-title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .playlist__right-card-subtitle {
    width: 93px;
    padding: 9.5px;
  }

  .playlist__right {
    max-width: 100%;
  }

  .playlist__right-card:nth-child(2n) {
    margin-right: auto;
  }

  .playlist__right-card:nth-child(2n + 1) {
    margin-right: 28px;
    margin-bottom: 22px;
  }

  .playlist__right {
    padding-bottom: 2px;
    margin-bottom: 28px;
  }

  .playlist-tablet-policy {
    font-size: 12px;
    line-height: 16px;
  }

  .playlist-policy-italic {
    margin-bottom: 6px;
    font-family: "Muller-Italic";
    font-size: 12px;
    line-height: 22px;
  }

  .playlist-policy-raiting {
    font-family: "Open Sans";
    padding: 6px 4px;
  }

  .speaker-wrapper {
    padding: 72px 0 40px;
  }

  .speaker__left {
    margin-right: 0px;
    margin-bottom: 18px;
    left: 1px;
  }

  .speaker__right-title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 24px;
  }

  .speaker__right-desc {
    font-size: 14px;
    line-height: 22px;
  }

  .speaker__right-price {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
  }

  .speaker__right-button {
    padding: 15px 13px 15px 42px;
    font-size: 16px;
    line-height: 16px;
    background: url(/img/ym-r.png) no-repeat 6% 50%;
  }

  .speaker__right {
    padding-bottom: 14px;
    background-position: 47.6% 10.9%;
    background-size: 205%;
  }

  .speaker__right-desc:nth-child(2n) {
    margin-bottom: 12px;
  }

  .about-top {
    padding-top: 54px;
    margin-bottom: 30px;
  }

  .about__left-top {

    margin-bottom: 0;
  }

  .about__left-top-title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 24px;
  }

  .about__left-top-subtitle {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
  }

  .about__left-top-desc {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
  }

  .about__right-top {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper {
    width: 246px;
    height: 214px;
    padding-right: 67px;
  }

  .slider-title {
    margin-bottom: 5px;
    max-width: 100px;
    font-size: 14px;
    line-height: 18px;
  }

  .slider-desc {
    font-size: 12px;
    line-height: 16px;
  }

  .slider-img {
    margin-bottom: 12px;
  }

  .form-textarea {
    margin-bottom: 24px;
    width: 206px;
    height: 115px;
    padding: 17px 24px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 21px;
  }

  .form-label {
    padding-left: 21px;
    font-size: 9px;
    line-height: 9px;
  }

  .form-input {
    width: 206px;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 16px;
  }


  .form-btn {
    padding: 16px 43.5px;
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 16px;
  }

  .form-checkbox+.form-customcheck {
    margin-top: 1px;
    top: -4px;
    left: 0;
    width: 11px;
    height: 11px;
  }

  .form {
    padding-bottom: 52px;
  }

  .footer {
    padding-top: 54px;
  }

  .footer-logo {
    margin-bottom: 23px;
  }

  .footer-social-svg {
    width: 30px;
    height: 30px;
  }

  .footer__left {
    margin-bottom: 52px;
  }

  .footer__right {
    margin-bottom: 0;
    margin: 0 -32px;
    padding: 30px 32px;
    width: 100%;
    background-color: var(--black);
  }

  .program__left {
    margin-right: 0;
  }

  .card-img {
    width: 111px;
  }

  .footer-link-column {
    display: none;
  }

  .footer-links-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 156px;
  }

  .footer-link {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 12px;
  }

  .footer-link:nth-child(-n + 5) {
    margin-right: 78px;
  }

  .footer-link:nth-child(5) {
    margin-bottom: 0;
  }

  .footer-rights {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    background-position: 45.2% 1.4%;
    background-size: 310% 58%;
  }
}